#container {
    width: 57%;
    margin: auto;
}
body {
    background-color: rgba(148, 195, 207, 0.774) ;
}
.footer {
    background-color: rgb(233, 228, 159);
}
.jumbotron1 {
    background-color: rgb(212, 230, 115);
    border-style: dotted;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.jumbotron2 {
    text-align: center;
    background-color: rgb(214, 214, 214);
}